PORT=5000
NODE_ENV=production
RATE_LIMIT_MAX=1000

# Database (AWS RDS)
DB_HOST=assesshub.c7iw6mq86klr.ap-south-2.rds.amazonaws.com
DB_PORT=5432
DB_NAME=xeskillz
DB_USER=root
DB_PASSWORD=Xevyte2025
DB_SSL=true

# Auth
JWT_SECRET=4b3153e32c221d2b8d5d6657805e52682653f103c46d04367f2b2399a50fe6724f4baac8392841a737b9beafe548c6ed5a74d27844540a084644312e0f55885b
JWT_EXPIRES_IN=7d

# Scaloz Workspace Integration
SCALOZ_API_KEY=xevyte_secure_api_key_2026_prod_v1

# CORS (production domains only)
CORS_ORIGIN=http://*.skillz.scaloz.com,https://*.skillz.scaloz.com,http://skillz.scaloz.com,https://skillz.scaloz.com
# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=admin@xevyte.com
SMTP_PASS=figjfdnpaaygcfrj

# Frontend
FRONTEND_URL=http://*.skillz.scaloz.com,https://*.skillz.scaloz.com,http://*.skillz.scaloz.com,https://*.skillz.scaloz.com

# AWS S3 (Proctoring)
S3_BUCKET_NAME=xeskillz-proctoring-evidence
AWS_REGION=ap-south-2
